<!doctype html>
<title>User Creation</title>
<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
<body>
{% block body %}
{% if user_id %}
<p>You are still logged in with another account.</p>
<a href="/logout" class="button">Logout</a>
{% else %}
<form action="/createuser" method="POST","GET">
  <input type="text" name="username" placeholder="Username"></input>
  <input type="password" name="password" placeholder="Password"></input>
  <input type="text" name="email" placeholder="Email Address"></input>
  <input type="text" name="firstname" placeholder="First Name"></input>
  <input type="text" name="lastname" placeholder="Last Name"></input>
  <div class="input-group">
    <span class="input-group-addon">Please select</span>
      <select name="gender" class="selectpicker form-control">
        <option value="1">Male</option>
        <option value="2">Female</option>
      </select>
  </div>
  <input style="padding:10px" type="submit" class="button" value="Create user"></input>
</form>
{% endif %}
{% endblock %}
</body>