<!doctype html>
<head>
<title>Success</title>
<style>
header {
    text-align: center;
    color: red;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
</head>
<body>
    <header>
        <h1>Welcome to Fake Bank Inc.</h1>
    </header>
    <h3>Success</h3> 
    <h4>Creation of user is completed.</h4>
    <form action="/homepage" method="POST">
        <input type="username" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Log in">
    </form>        
</body>